services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3333:3333"
    environment:
      - TZ=UTC
      - PORT=3333
      - HOST=0.0.0.0
      - LOG_LEVEL=info
      - APP_KEY=APP_KEY_HERE
      - NODE_ENV=production
      - SESSION_DRIVER=cookie
    volumes:
      - ./tmp:/app/tmp
    command: ["sh", "-c", "node ace migration:run --force && node bin/server.js"]

